<h1 class="text-center mt-5">Página detalle de producto.</h1>

<section>
    {{> horizontalCard
        img=producto.img
        nombre=producto.nombre
        descripcion=producto.descripcion
        precio=producto.precio
        stock=producto.stock
        id=producto.id
    }}
</section>